.calc{

    width: 40%;
    height: 50%;
    background-color: aqua;
    margin-left: 20%;
    margin-top: 10%;
    border-radius: 20px;
}
input{
    width: 50%;
    height: 10%;
    margin-top: 2%;
    margin-left: 25%;
    border-radius: 10px;
}
button{
    width: 22%;
    height: 10%;
    margin-top: 6%;
    margin-left: 2%;
    border-radius: 10px;
}
h1,h3{
    text-align: center;
}
