

<div class="parent">
    <div class="login">
        <h2>LOGIN</h2>
        <form [formGroup]="loginForm">      
         <input type="email" placeholder="Enter Your Email Address" formControlName="email">
        <input [type]="isVisible?'text':'password'" placeholder="Enter Your Password" formControlName="password"><br>
        <input type="checkbox" id="checkbox" (click)="show()" ><span>Show Password</span><br>
        <button (click)="login()">Login</button>

         <h5 routerLink="/registration">SignUp</h5>
         

        <h5 routerLink="/dashboard">Contiue to dashboard</h5>

       

        </form>

        
    </div>


</div>

