
<h1>Shopping</h1>
<div class="parent">
    

    <div class="cart" *ngFor="let shop of shopping">
        <div class="img">
        <img src="{{shop.image}}" alt="" width="95%" height="100%">
        </div>
        <div class="content">
        <h5>{{shop.category}}</h5>
        <h6>{{shop.title | slice:0:65}}...</h6>
        <h4>{{"₹"+shop.price}}</h4>
        <div class="rating">
            <app-rating [rating]="shop.rating.rate"></app-rating>
        </div>
        </div>

    </div>
</div>