<div class="parent">
    <div class="left">
        <img src="https://baseec-img-mng.akamaized.net/images/user/logo/a427fa494db4654de3596d983afda648.png?imformat=generic&q=90&im=Resize,width=1200,height=1200,aspect=fit,type=normal;Crop,width=1200,height=1200,gravity=Center,allowExpansion" alt="" width="60%" height="15%">
        <h2 routerLink="/dashboard">Dashboard</h2>
        <h2 routerLink="/dashboard/home">Home</h2> 
        <h2 routerLink="/dashboard/shopping">Shopping</h2>
        <h2 routerLink="/dashboard/calculator">Calculator</h2>
        <h2 routerLink="/dashboard/data-binding">Data-Binding</h2>
        <h2 routerLink="/dashboard/directives">Directives</h2>
        <h2 routerLink="/dashboard/employee-data">Employee Data</h2>
        <h2 routerLink="/dashboard/vamshi-store">Vamshi Store</h2>
         <h2 routerLink="/dashboard/weather">Weather</h2>
        <h2 routerLink="/dashboard/mail">Mail</h2>
        <h2 routerLink="/dashboard/vehicles">Vehicles</h2>
        <h2 routerLink="/dashboard/images">Images</h2>
        <h2 routerLink="/dashboard/clock">Clock</h2>
        <h2 routerLink="/dashboard/student-id">student-id</h2>

        <h2 routerLink="/">Logout</h2>
    </div>
    <div class="right">
        <router-outlet></router-outlet>
    </div>
</div>
