<div class="parent">
    <div class="left">
        <h2 routerLink="/dashboard">Dashboard</h2>
        <h2 routerLink="/dashboard/home">Home</h2>
        <h2 routerLink="/dashboard/clock">Clock</h2>
        <h2 routerLink="/dashboard/calculator">Calculator</h2>
        <h2 routerLink="/dashboard/data-binding">Data-Binding</h2>
        <h2 routerLink="/dashboard/directives">Directives</h2>
        <h2 routerLink="/dashboard/employee-data">Employee Data</h2>
        <h2 routerLink="/">Logout</h2>
    </div>
    <div class="right">
        <router-outlet></router-outlet>
    </div>
</div>
