
.parent{
    width: 100vw;
    height: 100vh;
    display: flex;
}
.left{
    width: 20%;
    height: 100%;
    background-color: rgb(29, 27, 27);
    overflow: auto;
    color: white;
}
.right{
    width: 80%;
    height: 100%;
    background-color: rgb(235, 153, 138);
    overflow: auto;
}
h2{
    cursor: pointer;
    margin-top: 5%;
    margin-left: 8%;
}
img{
    margin-left: 15%;
}