div{
    width: 400px;
    height: 400px;
    text-align: center;
    margin-left: 30%;
    margin-top: 10%;
    padding: 2%;
    border-radius: 30px;
    background-color: chocolate;
}
h1{
    color: white;
}
input{
    padding: 2%;
    margin-top: 3%;
}
button{
    margin-top: 6%;
}
